<div class="container">
    <!-- <div class="alert alert-danger" *ngIf="addBlog.invalid && addBlog.submitted">
        please check your inputs
    </div> -->
    <form #addBlog="ngForm" (ngSubmit)="handleAddBlog(addBlog)" >
        <div class="mb-3">
            <input 
            placeholder="Add Title" class="form-control" 
            name="title" 
            required minlength="5" maxlength="20" 
            #title="ngModel"
            [(ngModel)]="blogData.title"
            >
            <div class="alert alert-danger my-2"
            *ngIf="title.invalid && (title.dirty || title.touched || addBlog.submitted)">
                <span *ngIf="title.errors?.['required']">* title is required</span>
                <span *ngIf="title.errors?.['minlength']">* title must be more than 3 letters</span>
            </div>
        </div>

        <div class="mb-3">
            <textarea 
            placeholder="Add Content" class="form-control" 
            name="content" 
            required minlength="30" maxlength="2000" 
            #content="ngModel"
            [(ngModel)]="blogData.content"
            ></textarea>
            <div class="alert alert-danger my-2"
            *ngIf="content.invalid && (content.dirty || content.touched || addBlog.submitted)">
                <span *ngIf="content.errors?.['required']">* content is required</span>
                <span *ngIf="content.errors?.['minlength']">* too short content</span>
            </div>
        </div>
   

  
     
        <div class="mb-3">
            <button class="btn btn-success">Add Article</button>
        </div>
    </form>
</div>
