<p>all works!</p>
<!-- <div class="main">
    <div class="container">
       <div>
         <h1 class="mb-4">Blog Articles</h1>
        <a href="/add" class="btn btn-success"> <nav>New Article</nav></a>
        
       </div>



    {{#each users}}
    <div class="card mt-4">


        <div class="card-body">
            
            <h4 class="card-title">{{this.title}}</h4>

             <div class="card-text mb-2">{{this.description}}</div>
             <a href="/single/{{this._id}}" class="btn btn-primary">Show</a>
            <a href="/edit/{{this._id}}" class="btn btn-warning ">Edit</a>
            <a href="/del/{{this._id}}" class="btn btn-danger ">Delete</a>
            <a href="/comment/{{this._id}} " class="btn btn-info text-white">Add Comment</a>
        </div> 

    </div>
    {{/each}}






    </div>
</div> -->
